In [1]:
import pandas as pd
import numpy as np

import os
import argparse
import pickle
import joblib
import pdb
import warnings

In [9]:
cohort_path = "/local-scratch/nigam/projects/jlemmon/transfer_learning/experiments/data/"
tasks=['hospital_mortality','sepsis','LOS_7','readmission_30','hyperkalemia_lab_mild_label','hyperkalemia_lab_moderate_label','hyperkalemia_lab_severe_label','hyperkalemia_lab_abnormal_label','hypoglycemia_lab_mild_label','hypoglycemia_lab_moderate_label','hypoglycemia_lab_severe_label','hypoglycemia_lab_abnormal_label','neutropenia_lab_mild_label','neutropenia_lab_moderate_label','neutropenia_lab_severe_label','hyponatremia_lab_mild_label','hyponatremia_lab_moderate_label','hyponatremia_lab_severe_label','hyponatremia_lab_abnormal_label','aki_lab_aki1_label','aki_lab_aki2_label','aki_lab_aki3_label','aki_lab_abnormal_label','anemia_lab_mild_label','anemia_lab_moderate_label','anemia_lab_severe_label','anemia_lab_abnormal_label','thrombocytopenia_lab_mild_label','thrombocytopenia_lab_moderate_label','thrombocytopenia_lab_severe_label','thrombocytopenia_lab_abnormal_label']

In [3]:
def read_file(filename, columns=None, **kwargs):
    print(filename)
    load_extension = os.path.splitext(filename)[-1]
    if load_extension == ".parquet":
        return pd.read_parquet(filename, columns=columns,**kwargs)
    elif load_extension == ".csv":
        return pd.read_csv(filename, usecols=columns, **kwargs)

In [4]:
cohort = read_file(
    os.path.join(
        cohort_path,
        "cohort/cohort_split_no_nb.parquet"
    ),
    engine='pyarrow'
)

/local-scratch/nigam/projects/jlemmon/transfer_learning/experiments/data/cohort/cohort_split_no_nb.parquet

In [5]:
ad_cohort = cohort.query("adult_at_admission==1")
ped_cohort = cohort.query("adult_at_admission==0")

In [13]:
ped_cohort.query("admission_year>=2018")[["person_id", "fold_id"]].groupby(["fold_id"]).count()

        person_id fold_id
51       29939372       0
68       29941136     val
71       29941317    test
78       29941910       0
504      30044852     val
...           ...     ...
232284   85698351    test
232285   85699500    test
232286   85700562    test
232287   86280289    test
232288   86285072    test

[16432 rows x 2 columns]

In [15]:
ad_cohort.query("admission_year<=2019")[["person_id", "fold_id"]]#.groupby(["fold_id"]).count()

        person_id fold_id
0        29936887       0
1        29936888       0
2        29936900       0
3        29936906       0
4        29936914       0
...           ...     ...
274191   43705036       0
274196   43705412       0
274216   43742869       0
274219   43743212       0
274407   80496266       0

[185370 rows x 2 columns]

In [10]:
prev_df = pd.DataFrame()
for task in tasks:
    for fold in ["0", "val", "test"]:
        c_df = ad_cohort[["person_id",f"{task}", f"{task}_fold_id"]].query(f"{task}_fold_id==@fold")
        s = c_df.query(f"{task}==1")[task].sum()
        df = pd.DataFrame()
        df_dict = {"task":[task],
                   "fold":["train"] if fold == "0" else [fold],
                   "prevalence": [s/len(c_df)*100],
                   "total_pos": [s],
                   "total_pats": [len(c_df)]
                  }
        df = pd.DataFrame(df_dict)
        prev_df = pd.concat((prev_df,df))
prev_df = prev_df.reset_index(drop=True)
print(prev_df)

                                   task   fold  prevalence  total_pos  \
0                    hospital_mortality  train    2.135311       3907
1                    hospital_mortality    val    2.169691        458
2                    hospital_mortality   test    2.009877        757
3                                sepsis  train    2.927282       4734
4                                sepsis    val    2.302214        417
..                                  ...    ...         ...        ...
88    thrombocytopenia_lab_severe_label    val    2.186002        456
89    thrombocytopenia_lab_severe_label   test    2.219475        826
90  thrombocytopenia_lab_abnormal_label  train   17.123963      27423
91  thrombocytopenia_lab_abnormal_label    val   15.033719       2742
92  thrombocytopenia_lab_abnormal_label   test   14.883495       4912

    total_pats
0       182971
1        21109
2        37664
3       161720
4        18113
..         ...
88       20860
89       37216
90      160144
91       18239
92       33003

[93 rows x 5 columns]

In [41]:
age_prev_df = pd.DataFrame()
for task in tasks:
    for aaa in [0, 1]:
        for fold in ["0", "val", "test"]:
            c_df = cohort[["person_id",f"{task}", f"{task}_fold_id", "adult_at_admission"]].query(f"{task}_fold_id==@fold and adult_at_admission==@aaa")
            s = c_df.query(f"{task}==1")[task].sum()
            df = pd.DataFrame()
            df_dict = {"task":[task],
                       "age_group": ['pediatric'] if aaa==0 else ['adult'],
                       "fold":["train"] if fold == "0" else [fold],
                       "prevalence": [s/len(c_df)*100],
                       "total_pos": [s],
                       "total_pats": [len(c_df)]
                      }
            df = pd.DataFrame(df_dict)
            age_prev_df = pd.concat((age_prev_df,df))
age_prev_df = age_prev_df.reset_index(drop=True)
print(age_prev_df)

                  task  age_group   fold  prevalence  total_pos  total_pats
0   hospital_mortality  pediatric  train    0.794933        379       47677
1   hospital_mortality  pediatric    val    0.677442         57        8414
2   hospital_mortality  pediatric   test    0.652540         97       14865
3   hospital_mortality      adult  train    2.151511       3733      173506
4   hospital_mortality      adult    val    2.067116        632       30574
5   hospital_mortality      adult   test    2.009877        757       37664
6               sepsis  pediatric  train    1.564386        700       44746
7               sepsis  pediatric    val    1.395408        110        7883
8               sepsis  pediatric   test    1.402962        198       14113
9               sepsis      adult  train    2.839274       4340      152856
10              sepsis      adult    val    3.006265        811       26977
11              sepsis      adult   test    2.147734        692       32220
12               LOS_7  pediatric  train   13.492879       6433       47677
13               LOS_7  pediatric    val   13.239838       1114        8414
14               LOS_7  pediatric   test   13.138244       1953       14865
15               LOS_7      adult  train   19.811419      34374      173506
16               LOS_7      adult    val   19.889449       6081       30574
17               LOS_7      adult   test   21.901551       8249       37664
18      readmission_30  pediatric  train    3.517567       1663       47277
19      readmission_30  pediatric    val    3.794135        317        8355
20      readmission_30  pediatric   test    3.407397        503       14762
21      readmission_30      adult  train    5.190875       8765      168854
22      readmission_30      adult    val    5.010579       1492       29777
23      readmission_30      adult   test    5.058398       1858       36731
24       icu_admission  pediatric  train    3.655919       1635       44722
25       icu_admission  pediatric    val    3.794898        299        7879
26       icu_admission  pediatric   test    5.672633        786       13856
27       icu_admission      adult  train    5.941564       9462      159251
28       icu_admission      adult    val    6.000857       1680       27996
29       icu_admission      adult   test    7.109005       2430       34182
30          aki1_label  pediatric  train    2.092949        984       47015
31          aki1_label  pediatric    val    2.335661        194        8306
32          aki1_label  pediatric   test    1.692726        249       14710
33          aki1_label      adult  train    8.430512      13396      158899
34          aki1_label      adult    val    8.318439       2327       27974
35          aki1_label      adult   test    6.570037       2280       34703
36          aki2_label  pediatric  train    1.050589        498       47402
37          aki2_label  pediatric    val    0.979689         82        8370
38          aki2_label  pediatric   test    0.817844        121       14795
39          aki2_label      adult  train    2.627231       4436      168847
40          aki2_label      adult    val    2.442060        726       29729
41          aki2_label      adult   test    2.276583        832       36546
42            hg_label  pediatric  train    5.641156       2226       39460
43            hg_label  pediatric    val    5.611802        388        6914
44            hg_label  pediatric   test    5.505506        660       11988
45            hg_label      adult  train    1.884880       3255      172690
46            hg_label      adult    val    1.959109        596       30422
47            hg_label      adult   test    2.864326       1071       37391
48        np_500_label  pediatric  train    0.503588        240       47658
49        np_500_label  pediatric    val    0.487515         41        8410
50        np_500_label  pediatric   test    0.316285         47       14860
51        np_500_label      adult  train    0.773412       1339      173129
52        np_500_label      adult    val    0.714239        218       30522
53        np_500_label      adult   test    0.332023        125       37648
54       np_1000_label  pediatric  train    0.758164        361       47615
55       np_1000_label  pediatric    val    0.666587         56        8401
56       np_1000_label  pediatric   test    0.727371        108       14848
57       np_1000_label      adult  train    1.279455       2211      172808
58       np_1000_label      adult    val    1.269685        387       30480
59       np_1000_label      adult   test    0.805615        303       37611

In [44]:
cohort.columns

Index(['person_id', 'admit_date', 'discharge_date', 'admit_date_midnight',
       'discharge_date_midnight', 'hospital_mortality', 'death_date',
       'month_mortality', 'LOS_days', 'LOS_7', 'readmission_30',
       'readmission_window', 'icu_admission', 'icu_start_datetime',
       'age_in_years', 'age_group', 'aki_base_creatinine',
       'aki_max_creatinine', 'aki1_creatinine', 'aki1_creatinine_time',
       'aki1_label', 'aki2_creatinine', 'aki2_creatinine_time', 'aki2_label',
       'hg_min_glucose', 'hg_glucose', 'hg_glucose_time', 'hg_label',
       'np_min_neutrophils', 'np_500_neutrophils', 'np_500_neutrophils_time',
       'np_500_label', 'np_1000_neutrophils', 'np_1000_neutrophils_time',
       'np_1000_label', 'race_eth', 'gender_concept_name', 'race_eth_raw',
       'race_eth_gender', 'race_eth_age_group', 'race_eth_gender_age_group',
       'race_eth_raw_gender', 'race_eth_raw_age_group',
       'race_eth_raw_gender_age_group', 'prediction_id', 'fold_id',
       'adult_at_admission', 'sepsis', 'sepsis_index_date', 'admission_year',
       'discharge_year', 'hospital_mortality_fold_id', 'sepsis_fold_id',
       'LOS_7_fold_id', 'readmission_30_fold_id', 'icu_admission_fold_id',
       'aki1_label_fold_id', 'aki2_label_fold_id', 'hg_label_fold_id',
       'np_500_label_fold_id', 'np_1000_label_fold_id'],
      dtype='object')

In [49]:
cohort[['person_id', 'gender_concept_name']].groupby(['gender_concept_name']).count()

                     person_id
gender_concept_name
FEMALE                  173885
MALE                    142295
No matching concept         17

In [50]:
cohort[['person_id', 'age_group']].groupby(['age_group']).count()

           person_id
age_group
<18            71386
[18-30)        28054
[30-45)        56152
[45-55)        32216
[55-65)        42577
[65-75)        44639
[75-91)        41173

In [51]:
cohort[['person_id', 'race_eth_raw']].groupby(['race_eth_raw']).count()

                                           person_id
race_eth_raw
American Indian or Alaska Native                 768
Asian                                          56660
Black or African American                      11085
Hispanic or Latino                             66849
Native Hawaiian or Other Pacific Islander       3843
Other                                          28536
White                                         148456

In [ ]:
# Check list of newborn ids and crosscheck with clmbr train ids